.banner {
  height: 360px;
  @include media-breakpoint-up(xl) {
    height: 500px;
  }
  @include media-breakpoint-up(xxl) {
    height: 700px;
  }
}
.eventBanner {
  background: url("../../../assets/images/event-BN.png");
  background-position: center;
  background-size: cover;
}

.title {
  border-bottom: $primary 1px solid;
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}
.info {
  letter-spacing: 0.05rem;
}
