.banner {
  margin-top: 4rem;
  height: 240px;
  @include media-breakpoint-up(md) {
    margin-top: 0rem;
    height: 280px;
  }
  @include media-breakpoint-up(lg) {
    height: 360px;
  }
  @include media-breakpoint-up(xl) {
    height: 430px;
  }
  @include media-breakpoint-up(xxl) {
    height: 520px;
  }
  @media (min-width: 1920px){
    height: 700px;
  }
}
.adBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/ad-BN.jpg");
  background-position: center;
  background-size: cover;
}
.amusmentparkBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/amusment-BN_mb.jpg");
  background-position: center;
  background-size: cover;
  @include media-breakpoint-up(md) {
    background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/amusment-BN.jpg");
    background-position: center;
    background-size: cover;
  }
}
.bannerdesignBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/bn-BN.jpg");
  background-position: center;
  background-size: cover;
}
.brixtonBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/brixton-BN.jpg");
  background-position: center;
  background-size: cover;
}
.eventBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/event-BN.jpg");
  background-position: center;
  background-size: cover;
}
.interactionBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/interaction-BN_mb.png");
  background-position: center;
  background-size: cover;
  @include media-breakpoint-up(md) {
    background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/interaction-BN.png");
    background-position: center;
    background-size: cover;
  }
}
.landingpageBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/lp-BN.jpg");
  background-position: center;
  background-size: cover;
}
.lookbookBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/lookbook-BN_mb.jpg");
  background-position: center;
  background-size: cover;
  @include media-breakpoint-up(md) {
    background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/lookbook-BN.jpg"); 
    background-position: center;
    background-size: cover;
  }
}
.sinreBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/sinre-BN_mb.jpg");
  background-position: center;
  background-size: cover;
  @include media-breakpoint-up(md) {
    background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/sinre-BN.jpg");
    background-position: center;
    background-size: cover;
  }
}

.title {
  border-bottom: $primary 1px solid;
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}
.info {
  letter-spacing: 0.05rem;
}