.graphicsBanner {
  background: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/banner-bg-2.jpg");
  //background: url("../../../assets/images/banner-bg-2.jpg");
  background-position: center;
  background-size: cover;
  height: 360px;
  @include media-breakpoint-up(xl) {
    height: 400px;
  }
  @include media-breakpoint-up(xxl) {
    height: 480px;
  }
}

.grid-item {
  float: left;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  position:relative;
  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }
  @include media-breakpoint-up(xxl) {
    margin-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .cover{
    display: none;
  }
  a:hover{
    .cover{
      background-color: rgba(88, 85, 65, 0.7);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 99;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      @include media-breakpoint-up(md) {
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
      }
    }
  }
}

.modal-content{
 background-color: transparent;
}
.modal-resize{
  width: auto;
  @include media-breakpoint-up(md) {
    max-width: 600px;
  }
}
.modal-footer{
  padding-top: 0.15rem;
}
