.indexBanner {
  background-image: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/banner-index.jpg");
  //background: url("../../../assets/images/banner-index.jpg");
  height: 100vh;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-up(xl) {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes example {
  0%{left:0px; top:0px;}
  50%{left:30px; top:0px;}
  100%{left:0px; top:0px;}
}

.example{
  position: relative;
  /*  要執行的 animation 名稱   */
  animation-name: example;
  /*  執行過程秒數  */
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.intro{
  //background: url("../../../assets/images/banner-bg.png");
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
}
.intro__content {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Italiana", serif;
  text-align: center;
  .underline{
    text-decoration: underline;
  }
}

.portfolio {
  .portfolio__content {
    max-width: 1120px;
    margin: 0 auto;
    li:nth-child(2){
      background-color: $dark;
      @include media-breakpoint-up(md) {
        background-color: inherit;
      }
    }
  }

  .portfolio__image {
    width: 300px;
    height: 300px;
    @include media-breakpoint-up(md) {
      width: 330px;
      height: 330px;
    }
    @include media-breakpoint-up(lg) {
      width: 400px;
      height: 400px;
    }
    @include media-breakpoint-up(xl) {
      width: 450px;
      height: 450px;
    }
    @include media-breakpoint-up(xxl) {
      width: 500px;
      height: 500px;
    }
  }
  .portfolio__webapp {
    margin: 0 auto;
    background-image: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/cover-webapp.png");
    background-size: cover;
    background-position: center;
    @include media-breakpoint-up(md) {
      margin: 0;
    }
    .portfolio__button {
      border-radius: 100%;
    }
  }
  .portfolio__graphics {
    margin: 0 auto;
    background-image: url("https://raw.githubusercontent.com/teresaliao1994/portfolio/main/app/assets/images/cover-graphics.png");
    background-size: cover;
    background-position: center;
    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
  .portfolio__button {
    height: 100%;
    background-color: rgba(138, 136, 123, 0.5);
    background-blend-mode: overlay;
    font-family: "Italiana", serif;
    //transition: all 0.2s ease-in;
    .portfolio__link {
      letter-spacing: 0.05em;
      line-height: 1.5;
      color: white;
      border-bottom: 2px solid white;
    }
    &:hover {
      background-color: rgba(138, 136, 123, 0);
      .portfolio__link {
        color: $dark;
        border-bottom: 2px solid $dark;
      }
    }
  }
  .portfolio__info {
    line-height: 2;
  }
}
