.webappBanner {
  background: url("../../../assets/images/webapp-banner.png");
  background-position: center;
  background-size: cover;
  height: 480px;
}

.webapp__list {
  li {
    margin-bottom: 96px;
  }
}
