ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}
p {
  margin-bottom: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 0;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Italiana", serif;
  letter-spacing: 0.06em;
}

h1 {
  font-size: 1.875rem; //30px
}

h2 {
  font-size: 3.5rem; //56px
  @include media-breakpoint-up(xl) {
    font-size: 4.5rem; //72px
  }
  @include media-breakpoint-up(xxl) {
    font-size: 5.5rem; //88px
  }
}

.subtitle {
  letter-spacing: 0.25rem;
  font-weight: 600;
}
